SBSPS-Challenge-863-ANTON-THE-AI-RECRUITER/IBM CODES/node_red_flows.json
[{"id":"114a65e6.c37522","type":"tab","label":"db","disabled":false,"info":""},{"id":"2b8faf0c.ae71a8","type":"tab","label":"login ","disabled":false,"info":""},{"id":"1018f041.b42a08","type":"tab","label":"chatbot","disabled":false,"info":""},{"id":"5ea3ff51.396da","type":"tab","label":"finding data","disabled":false,"info":""},{"id":"703366ff.0dba3","type":"tab","label":"webrq","disabled":false,"info":""},{"id":"93b88858.b5665","type":"dashDB","z":"","hostname":"dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net","db":"BLUDB","port":"50000","name":""},{"id":"fd97c80e.8479f8","type":"dashDB","z":"","hostname":"","db":"","port":"50000","name":""},{"id":"3669adfa.9c36d2","type":"sqlitedb","z":"","db":"C:\\Users\\omar\\Pictures\\db\\db.db","mode":"RWC"},{"id":"c3b2feb3.0c25b8","type":"ui_group","z":"","name":"fasf","tab":"ca176b85.895f4","order":1,"disp":true,"width":"6","collapse":false},{"id":"ca176b85.895f4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"7abd7eaf.dd07d","type":"MySQLdatabase","z":"","host":"192.168.3.10","port":"3306","db":"ram_test","tz":""},{"id":"39d7fdb0.d6de5a","type":"MySQLdatabase","z":"","host":"192.168.3.10","port":"3306","db":"ram_test","tz":""},{"id":"eb3efd0e.ba1f2","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"30b8ad58.751e3a","type":"MySQLdatabase","z":"2b8faf0c.ae71a8","host":"192.168.3.10","port":"3306","db":"ram_test","tz":""},{"id":"261763f0.cd4d4c","type":"ui_tab","z":"","name":"Resto bot","icon":"dashboard","disabled":false,"hidden":false},{"id":"faa35744.367d98","type":"ui_group","z":"","name":"chatbot","tab":"261763f0.cd4d4c","order":1,"disp":true,"width":"6","collapse":false},{"id":"8e00f280.93453","type":"ui_group","z":"","name":"Form","tab":"c460d1a2.5d73c","order":1,"disp":true,"width":"6","collapse":false},{"id":"c9bf02e6.4fda9","type":"ui_group","z":"","name":"Form","tab":"9a7756fc.967e68","order":1,"disp":true,"width":"6","collapse":false},{"id":"357fbee6.4b5b12","type":"dashDB","z":"","hostname":"dashdb-txn-sbox-yp-lon02-02.services.eu-gb.bluemix.net","db":"BLUDB","port":"50000","name":""},{"id":"c460d1a2.5d73c","type":"ui_tab","z":"","name":"Registration","icon":"dashboard","disabled":false,"hidden":false},{"id":"9a7756fc.967e68","type":"ui_tab","z":"","name":"Login","icon":"dashboard","disabled":false,"hidden":false},{"id":"34f14ed6.98dbf2","type":"ui_group","z":"","name":"Form","tab":"67fa30f8.ffa75","order":1,"disp":true,"width":"6","collapse":false},{"id":"2f38a304.4ea01c","type":"ui_group","z":"","name":"Form","tab":"a3c4add6.686ff","order":1,"disp":true,"width":"6","collapse":false},{"id":"67fa30f8.ffa75","type":"ui_tab","z":"","name":"Registration","icon":"dashboard","disabled":false,"hidden":false},{"id":"a3c4add6.686ff","type":"ui_tab","z":"","name":"Login","icon":"dashboard","disabled":false,"hidden":false},{"id":"e327a64e.4f8af8","type":"ibmiot","z":"","name":"sudjos","keepalive":"60","serverName":"2bnwyn.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"61d3e842.ffb338","type":"ui_group","z":"","name":"Default","tab":"17a7732b.8f510d","order":1,"disp":false,"width":"27","collapse":false},{"id":"17a7732b.8f510d","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":true},{"id":"6b72643a.a2166c","type":"sqlitedb","z":"","db":"C:\\Users\\omar\\Pictures\\db\\db.db","mode":"RWC"},{"id":"879585f6.f9c398","type":"mongodb2","z":"","uri":"","name":"","options":"","parallelism":"-1"},{"id":"d519e874.27e5e8","type":"ui_group","z":"","name":"Signin","tab":"2922dbf8.3a5c84","order":1,"disp":true,"width":"6","collapse":false},{"id":"d015d705.631208","type":"ui_group","z":"","name":"SensorData","tab":"2922dbf8.3a5c84","order":2,"disp":true,"width":"6","collapse":false},{"id":"286da10.1348b6","type":"ui_group","z":"","name":"History","tab":"2922dbf8.3a5c84","order":3,"disp":true,"width":"6","collapse":false},{"id":"2922dbf8.3a5c84","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":1},{"id":"6f0b1c9d.ff6284","type":"cos-config","z":"","apiKeyId":"TsW0eecmH9wN6vm1q76RDXGxOrxFC1_pr3QDDDR2T1AK","location":"eu-geo","ibmAuthEndpoint":"https://control.cloud-object-storage.cloud.ibm.com/v2/endpoints","endpoint":"s3.eu-geo.objectstorage.softlayer.net","serviceInstanceId":"crn:v1:bluemix:public:iam-identity::a/ba7bb6911cb84f65a7e5e581ed2af580::serviceid:ServiceId-0a397968-61c9-47bf-9e91-7655ccad237d","hmac":false,"accesskeyid":"087adeca0db24be190ad42487f2e1398","accesskey":"a9b330cc5d661c0f7ece05b4be19ed31e76185236c8ec767","name":"saf"},{"id":"bacb815c.a2d9c","type":"os-config","z":"","cfgtype":"api","region":"dallas","projectId":"","userId":"","userName":"","password":"","name":""},{"id":"4f2e4b59.a05ad4","type":"mui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"m-base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"m-page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"m-page-backgroundColor":{"value":"#fafafa","edited":false},"m-page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"m-group-textColor":{"value":"#1bbfff","edited":false},"m-group-borderColor":{"value":"#ffffff","edited":false},"m-group-backgroundColor":{"value":"#ffffff","edited":false},"m-widget-textColor":{"value":"#111111","edited":false},"m-widget-backgroundColor":{"value":"#0094ce","edited":false},"m-widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ee0f5d54.622af","type":"ui_group","z":"","name":"File upload","tab":"4bf07955.5d8068","order":4,"disp":true,"width":"6","collapse":false},{"id":"4bf07955.5d8068","type":"ui_tab","z":"","name":"File Upload","icon":"dashboard","order":4},{"id":"9a1fe81.c7cc018","type":"ui_group","z":"","name":"File upload","tab":"29d89df2.c8ffc2","order":4,"disp":true,"width":"6","collapse":false},{"id":"29d89df2.c8ffc2","type":"ui_tab","z":"","name":"File Upload","icon":"dashboard","order":4},{"id":"d3a5014e.b69d7","type":"http in","z":"703366ff.0dba3","name":"","url":"/db/feed","method":"get","upload":false,"swaggerDoc":"","x":90,"y":100,"wires":[["8237b6d7.b3507"]]},{"id":"18506424.779a7c","type":"http response","z":"703366ff.0dba3","name":"","statusCode":"","headers":{},"x":670,"y":100,"wires":[]},{"id":"6f3d19b2.a41d98","type":"template","z":"703366ff.0dba3","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n    <meta name=\"description\" content=\"\">\n    <meta name=\"author\" content=\"\">\n    <link rel=\"icon\" href=\"\">\n    <head>\n        <link href=\"https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/darkly/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-Bo21yfmmZuXwcN/9vKrA5jPUMhr7znVBBeLxT9MA4r2BchhusfJ6+n8TLGUcRAtL\" crossorigin=\"anonymous\">\n    </head>\n<body>\n<nav class=\"navbar navbar-expand-lg navbar-light bg-light\">\n  <a class=\"navbar-brand\" href=\"/db\">Moniter</a>\n  <button class=\"navbar-toggler\" type=\"button\" data-toggle=\"collapse\" data-target=\"#navbarColor03\" aria-controls=\"navbarColor03\" aria-expanded=\"false\" aria-label=\"Toggle navigation\">\n    <span class=\"navbar-toggler-icon\"></span>\n  </button>\n\n  <div class=\"collapse navbar-collapse\" id=\"navbarColor03\">\n    <ul class=\"navbar-nav mr-auto\">\n      <li class=\"nav-item\">\n        <a class=\"nav-link\" href=\"/db/showcase\">showcase</a>\n      </li>\n      <li class=\"nav-item active\">\n        <a class=\"nav-link\" href=\"/db\">Home <span class=\"sr-only\">(current)</span></a>\n      </li>\n      <li class=\"nav-item\">\n        <a class=\"nav-link\" href=\"/db/keyword\">Keyword</a>\n      </li>\n    </ul>\n    <form class=\"form-inline my-2 my-lg-0\">\n      <input class=\"form-control mr-sm-2\" type=\"text\" placeholder=\"Search\">\n      <button class=\"btn btn-secondary my-2 my-sm-0\" type=\"submit\">Search</button>\n    </form>\n  </div>\n</nav>\n<h1>My First Heading</h1>\n<div class=\"container\">\n<table class=\"table\">\n  <thead>\n    <tr>\n      <th scope=\"col\">name</th>\n      <th scope=\"col\">url</th>\n      <th scope=\"col\"></th>\n    </tr>\n  </thead>\n  <tbody>\n      {{#payload}}\n    <tr class=\"table-primary\">\n      <td>{{name}}</td>\n      <td>{{url}}</td>\n      <td><a href=\"/db/feed/delete/{{rowid}}\" class=\"btn btn-danger\">delete</a></td>\n    </tr>\n    {{/payload}}\n  </tbody>\n</table> \n<form method=\"POST\" action=\"/db/feed\">\n<label for=\"name\">name</label>\n<input class=\"form-control\" id=\"name\" name=\"name\">\n<label for=\"url\">url</label>\n<input class=\"form-control\" id=\"url\" name=\"url\">\n<button type=\"submit\" class=\"btn btn-primary\">Submit</button>\n</form>\n</body>\n</html> ","output":"str","x":500,"y":100,"wires":[["18506424.779a7c","1464e4f7.6347b3"]]},{"id":"61be0e59.b807a","type":"sqlite","z":"114a65e6.c37522","mydb":"3669adfa.9c36d2","sqlquery":"msg.topic","sql":"","name":"db","x":390,"y":280,"wires":[["2a5f76cb.62010a"]]},{"id":"47971025.38dcb","type":"inject","z":"114a65e6.c37522","name":"CREATE keyword","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE keyword(expression)","payload":"","payloadType":"date","x":140,"y":180,"wires":[["61be0e59.b807a"]]},{"id":"17262ecd.bf9da1","type":"inject","z":"114a65e6.c37522","name":"CREATE match","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE match(link,title,description,sent,UNIQUE(link))","payload":"","payloadType":"date","x":130,"y":240,"wires":[["61be0e59.b807a"]]},{"id":"80143013.d593b","type":"inject","z":"114a65e6.c37522","name":"CREATE feed","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE feed(name,url)","payload":"","payloadType":"date","x":110,"y":120,"wires":[["61be0e59.b807a"]]},{"id":"5c82c62.b883bb8","type":"inject","z":"114a65e6.c37522","name":"DROP TABLE keyword","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"DROP TABLE keyword","payload":"","payloadType":"date","x":140,"y":380,"wires":[["61be0e59.b807a"]]},{"id":"6e81098b.f63328","type":"inject","z":"114a65e6.c37522","name":"DROP TABLE match","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"DROP TABLE  match","payload":"","payloadType":"date","x":130,"y":460,"wires":[["61be0e59.b807a"]]},{"id":"58dd0fe5.75eed8","type":"inject","z":"114a65e6.c37522","name":"DROP TABLE feed","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"DROP TABLE  feed","payload":"","payloadType":"date","x":140,"y":320,"wires":[["61be0e59.b807a"]]},{"id":"258f2029.1f0b5","type":"comment","z":"114a65e6.c37522","name":"deletion","info":"","x":90,"y":280,"wires":[]},{"id":"bedc9ac1.5957f","type":"comment","z":"114a65e6.c37522","name":"creation","info":"","x":100,"y":60,"wires":[]},{"id":"8237b6d7.b3507","type":"sqlite","z":"703366ff.0dba3","mydb":"3669adfa.9c36d2","sqlquery":"fixed","sql":"SELECT rowid, * FROM feed","name":"db","x":330,"y":100,"wires":[["6f3d19b2.a41d98","1464e4f7.6347b3"]]},{"id":"6194909d.4fb87","type":"http in","z":"703366ff.0dba3","name":"","url":"/db/feed","method":"post","upload":false,"swaggerDoc":"","x":100,"y":140,"wires":[["c2567038.d40e3"]]},{"id":"bb923bf3.b244b","type":"http in","z":"703366ff.0dba3","name":"","url":"/db/feed/delete/:rowid","method":"get","upload":false,"swaggerDoc":"","x":130,"y":200,"wires":[["6e9e79b5.246d68"]]},{"id":"a702206e.060c78","type":"sqlite","z":"703366ff.0dba3","mydb":"3669adfa.9c36d2","sqlquery":"msg.topic","sql":"SELECT * FROM feed","name":"db","x":450,"y":160,"wires":[["8237b6d7.b3507"]]},{"id":"c2567038.d40e3","type":"template","z":"703366ff.0dba3","name":"INSERT","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO feed VALUES ('{{{payload.name}}}', '{{{payload.url}}}')","output":"str","x":300,"y":160,"wires":[["a702206e.060c78"]]},{"id":"6e9e79b5.246d68","type":"template","z":"703366ff.0dba3","name":"DELETE","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DELETE FROM feed WHERE rowid = {{req.params.rowid}}","output":"str","x":380,"y":220,"wires":[["a702206e.060c78"]]},{"id":"8fd4085d.d40518","type":"http in","z":"703366ff.0dba3","name":"","url":"/db/keyword","method":"get","upload":false,"swaggerDoc":"","x":100,"y":340,"wires":[["bb73b2f.0afe25"]]},{"id":"30b9d54.429deaa","type":"http response","z":"703366ff.0dba3","name":"","statusCode":"","headers":{},"x":680,"y":340,"wires":[]},{"id":"42443f0c.ea5798","type":"template","z":"703366ff.0dba3","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n    <meta name=\"description\" content=\"\">\n    <meta name=\"author\" content=\"\">\n    <link rel=\"icon\" href=\"\">\n    <head>\n        <link href=\"https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/darkly/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-Bo21yfmmZuXwcN/9vKrA5jPUMhr7znVBBeLxT9MA4r2BchhusfJ6+n8TLGUcRAtL\" crossorigin=\"anonymous\">\n    </head>\n<body>\n<nav class=\"navbar navbar-expand-lg navbar-light bg-light\">\n  <a class=\"navbar-brand\" href=\"/db\">Moniter</a>\n  <button class=\"navbar-toggler\" type=\"button\" data-toggle=\"collapse\" data-target=\"#navbarColor03\" aria-controls=\"navbarColor03\" aria-expanded=\"false\" aria-label=\"Toggle navigation\">\n    <span class=\"navbar-toggler-icon\"></span>\n  </button>\n\n  <div class=\"collapse navbar-collapse\" id=\"navbarColor03\">\n    <ul class=\"navbar-nav mr-auto\">\n    <li class=\"nav-item\">\n        <a class=\"nav-link\" href=\"/db/showcase\">showcase</a>\n     </li>\n      <li class=\"nav-item active\">\n        <a class=\"nav-link\" href=\"/db\">Home <span class=\"sr-only\">(current)</span></a>\n      </li>\n      <li class=\"nav-item\">\n        <a class=\"nav-link\" href=\"/db/feed\">Feed</a>\n      </li>\n    </ul>\n    <form class=\"form-inline my-2 my-lg-0\">\n      <input class=\"form-control mr-sm-2\" type=\"text\" placeholder=\"Search\">\n      <button class=\"btn btn-secondary my-2 my-sm-0\" type=\"submit\">Search</button>\n    </form>\n  </div>\n</nav>\n<h1>My First Heading</h1>\n<div class=\"container\">\n<table class=\"table\">\n  <thead>\n    <tr>\n      <th scope=\"col\">expression</th>\n      <th scope=\"col\"></th>\n    </tr>\n  </thead>\n  <tbody>\n      {{#payload}}\n    <tr class=\"table-primary\">\n      <td>{{expression}}</td>\n      <td><a href=\"/db/keyword/delete/{{rowid}}\" class=\"btn btn-danger\">delete</a></td>\n    </tr>\n    {{/payload}}\n  </tbody>\n</table> \n<form method=\"POST\" action=\"/db/keyword\">\n<label for=\"expression\">expression</label>\n<input class=\"form-control\" id=\"expression\" name=\"expression\">\n<button type=\"submit\" class=\"btn btn-primary\">Submit</button>\n</form>\n</body>\n</html> ","output":"str","x":510,"y":340,"wires":[["30b9d54.429deaa"]]},{"id":"bb73b2f.0afe25","type":"sqlite","z":"703366ff.0dba3","mydb":"3669adfa.9c36d2","sqlquery":"fixed","sql":"SELECT rowid, * FROM keyword","name":"db","x":340,"y":340,"wires":[["42443f0c.ea5798"]]},{"id":"5f20fceb.672a04","type":"http in","z":"703366ff.0dba3","name":"","url":"/db/keyword","method":"post","upload":false,"swaggerDoc":"","x":110,"y":380,"wires":[["4bba2551.dd0aac"]]},{"id":"fc6d9be1.9dad2","type":"http in","z":"703366ff.0dba3","name":"","url":"/db/keyword/delete/:rowid","method":"get","upload":false,"swaggerDoc":"","x":150,"y":440,"wires":[["499879f.6302d08"]]},{"id":"16ddd79d.a7a618","type":"sqlite","z":"703366ff.0dba3","mydb":"3669adfa.9c36d2","sqlquery":"msg.topic","sql":"SELECT * FROM keyword","name":"db","x":470,"y":400,"wires":[["bb73b2f.0afe25","16a1fea5.ec50d1"]]},{"id":"4bba2551.dd0aac","type":"template","z":"703366ff.0dba3","name":"INSERT","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO keyword VALUES ('{{{payload.expression}}}')","output":"str","x":310,"y":400,"wires":[["16ddd79d.a7a618","16a1fea5.ec50d1"]]},{"id":"499879f.6302d08","type":"template","z":"703366ff.0dba3","name":"DELETE","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DELETE FROM keyword WHERE rowid = {{req.params.rowid}}","output":"str","x":440,"y":460,"wires":[["16ddd79d.a7a618"]]},{"id":"237ca5d4.52bdda","type":"comment","z":"703366ff.0dba3","name":"feed","info":"","x":70,"y":40,"wires":[]},{"id":"ed647c4b.ac37f","type":"comment","z":"703366ff.0dba3","name":"keyword","info":"","x":80,"y":280,"wires":[]},{"id":"f8d2d739.17409","type":"inject","z":"5ea3ff51.396da","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":100,"wires":[["753804fb.2bc89c"]]},{"id":"d1fa1452.461c7","type":"comment","z":"5ea3ff51.396da","name":"keywords","info":"","x":100,"y":40,"wires":[]},{"id":"753804fb.2bc89c","type":"sqlite","z":"5ea3ff51.396da","mydb":"3669adfa.9c36d2","sqlquery":"fixed","sql":"SELECT rowid, * FROM keyword","name":"db","x":90,"y":180,"wires":[["6aca290c.78e4b8"]]},{"id":"6aca290c.78e4b8","type":"change","z":"5ea3ff51.396da","name":"keyword","rules":[{"t":"set","p":"keyword","pt":"msg","to":"$join(payload.expression,\"|\")\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":100,"y":260,"wires":[["6fe459a5.00f6a8"]]},{"id":"6fe459a5.00f6a8","type":"sqlite","z":"5ea3ff51.396da","mydb":"3669adfa.9c36d2","sqlquery":"fixed","sql":"SELECT rowid, * FROM feed","name":"db","x":310,"y":100,"wires":[["41dd6d51.bb3e14"]]},{"id":"8197a4b6.92e7b","type":"comment","z":"5ea3ff51.396da","name":"feed url read","info":"","x":310,"y":40,"wires":[]},{"id":"41dd6d51.bb3e14","type":"split","z":"5ea3ff51.396da","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":310,"y":180,"wires":[["ee065b2c.0a257"]]},{"id":"e76541d6.bb054","type":"http request","z":"5ea3ff51.396da","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":100,"wires":[["f633b30.0d1425"]]},{"id":"ee065b2c.0a257","type":"change","z":"5ea3ff51.396da","name":"read url","rules":[{"t":"move","p":"payload.url","pt":"msg","to":"url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":260,"wires":[["e76541d6.bb054"]]},{"id":"fa8d91ef.e0ba78","type":"change","z":"5ea3ff51.396da","name":"read item","rules":[{"t":"move","p":"payload.rss.channel[0].item","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":260,"wires":[["fb460c97.ccffc"]]},{"id":"740d550c.a8132c","type":"switch","z":"5ea3ff51.396da","name":"match","property":"payload.description[0]","propertyType":"msg","rules":[{"t":"regex","v":"keyword","vt":"msg","case":true},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":140,"wires":[["6f45511b.0da648"],[]]},{"id":"6f45511b.0da648","type":"template","z":"5ea3ff51.396da","name":"INSERT","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT OR IGNORE INTO match VALUES(\n    '{{{payload.link.0}}}',\n    '{{payload.title.0}}',\n    '{{payload.description.0}}',\n    0)","output":"str","x":720,"y":200,"wires":[["76431a05.704bec"]]},{"id":"76431a05.704bec","type":"sqlite","z":"5ea3ff51.396da","mydb":"3669adfa.9c36d2","sqlquery":"msg.topic","sql":"","name":"db","x":730,"y":260,"wires":[[]]},{"id":"1562e7c8.4cfc2","type":"http in","z":"703366ff.0dba3","name":"","url":"/db","method":"get","upload":false,"swaggerDoc":"","x":80,"y":620,"wires":[["50f2a27.e614b5c"]]},{"id":"3c1eebae.2d23e4","type":"http response","z":"703366ff.0dba3","name":"","statusCode":"","headers":{},"x":770,"y":620,"wires":[]},{"id":"3b1272e8.d7cf96","type":"template","z":"703366ff.0dba3","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <script src=\"//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js\"></script>\n        <script src=\"//stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js\" integrity=\"sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd\" crossorigin=\"anonymous\"></script>\n        <link href=\"//stackpath.bootstrapcdn.com/bootswatch/4.5.0/darkly/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-Bo21yfmmZuXwcN/9vKrA5jPUMhr7znVBBeLxT9MA4r2BchhusfJ6+n8TLGUcRAtL\" crossorigin=\"anonymous\">\n        <link href=\"//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css\" rel=\"stylesheet\" integrity=\"sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN\" crossorigin=\"anonymous\">\n    </head>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n    <meta name=\"description\" content=\"\">\n    <meta name=\"author\" content=\"\">\n    <link rel=\"icon\" href=\"\">\n\n    <title>ANTON AI</title>\n<body>\n    <nav class=\"navbar navbar-expand-lg navbar-light bg-light\">\n  <a class=\"navbar-brand\" href=\"/form\">WANT TO HIRE</a>\n  <a class=\"navbar-brand\" href=\"http://127.0.0.1:5000/\">WANT TO APPLY</a>\n  <button class=\"navbar-toggler\" type=\"button\" data-toggle=\"collapse\" data-target=\"#navbarColor03\" aria-controls=\"navbarColor03\" aria-expanded=\"false\" aria-label=\"Toggle navigation\">\n    <span class=\"navbar-toggler-icon\"></span>\n  </button>\n  <div class=\"collapse navbar-collapse\" id=\"navbarColor03\">\n    <ul class=\"navbar-nav mr-auto\">\n      <li class=\"nav-item\">\n        <a class=\"nav-link\" href=\"/lo\"></a>\n      </li>\n      <li class=\"nav-item\">\n        <a class=\"nav-link\" href=\"/log\"></a>\n      </li>\n    </ul>\n    <form method=\"POST\" action=\"/db\" class=\"form-inline my-2 mb-4 my-lg-0\">\n      <input name=\"search\" value=\"{{req.body.search}}\" class=\"form-control mr-sm-2\" type=\"text\" placeholder=\"Search\">\n      <button class=\"btn btn-secondary my-2 my-sm-0\" type=\"submit\">Search</button>\n    </form>\n  </div>\n</nav>\n<div class=\"container\">\n<h1>Latest Stories</h1>\n<div class=\"row\">\n<div class=\"col-md-12\">\n<table class=\"table\">\n  <thead>\n    <tr>\n     <th scope=\"col\">headline</th>\n     <th scope=\"col\">summary</th>\n    </tr>\n  </thead>\n  <tbody>\n      {{#payload}}\n    <tr class=\"table-primary\">\n      <td><a href=\"{{link}}\">{{title}}</a></td>\n      <td>{{description}}</td>\n    </tr>\n    {{/payload}}\n  </tbody>\n</table> \n</body>\n</html> ","output":"str","x":600,"y":620,"wires":[["3c1eebae.2d23e4"]]},{"id":"a5e9367f.909c08","type":"sqlite","z":"703366ff.0dba3","mydb":"3669adfa.9c36d2","sqlquery":"msg.topic","sql":"","name":"db","x":430,"y":620,"wires":[["3b1272e8.d7cf96"]]},{"id":"b8af90ce.9171e","type":"comment","z":"703366ff.0dba3","name":"match display","info":"","x":90,"y":540,"wires":[]},{"id":"f633b30.0d1425","type":"xml","z":"5ea3ff51.396da","name":"","property":"payload","attr":"","chr":"","x":510,"y":180,"wires":[["fa8d91ef.e0ba78"]]},{"id":"fb460c97.ccffc","type":"split","z":"5ea3ff51.396da","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":710,"y":80,"wires":[["740d550c.a8132c"]]},{"id":"54cb3046.e89b58","type":"http in","z":"703366ff.0dba3","name":"","url":"/db","method":"post","upload":false,"swaggerDoc":"","x":80,"y":680,"wires":[["664199ef.dfa93","50f2a27.e614b5c"]]},{"id":"50f2a27.e614b5c","type":"template","z":"703366ff.0dba3","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT rowid, * FROM match\nWHERE title LIKE '%{{payload.search}}%' OR description LIKE '%{{payload.search}}%'\nORDER BY rowid DESC","output":"str","x":260,"y":620,"wires":[["a5e9367f.909c08"]]},{"id":"d0609c0f.72a55","type":"comment","z":"703366ff.0dba3","name":"search bar ","info":"","x":320,"y":540,"wires":[]},{"id":"5afd9b5b.d713a4","type":"comment","z":"5ea3ff51.396da","name":"creates match table","info":"","x":710,"y":40,"wires":[]},{"id":"664199ef.dfa93","type":"debug","z":"703366ff.0dba3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":350,"y":700,"wires":[]},{"id":"84ecbb35.5d0c8","type":"http in","z":"2b8faf0c.ae71a8","name":"","url":"/signup","method":"get","upload":false,"swaggerDoc":"","x":90,"y":280,"wires":[["28fac978.0dd4f6"]]},{"id":"28fac978.0dd4f6","type":"template","z":"2b8faf0c.ae71a8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n     <head>\n        <script src=\"//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js\"></script>\n        <script src=\"//stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js\" integrity=\"sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd\" crossorigin=\"anonymous\"></script>\n        <link href=\"//stackpath.bootstrapcdn.com/bootswatch/4.5.0/darkly/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-Bo21yfmmZuXwcN/9vKrA5jPUMhr7znVBBeLxT9MA4r2BchhusfJ6+n8TLGUcRAtL\" crossorigin=\"anonymous\">\n        <link href=\"//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css\" rel=\"stylesheet\" integrity=\"sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN\" crossorigin=\"anonymous\">\n    </head>\n<style>\nbody {font-family: Arial, Helvetica, sans-serif;}\n* {box-sizing: border-box}\ninput[type=text],input[type=password],input[type=tel]:focus {\n  width: 100%;\n  padding: 15px;\n  margin: 5px 0 22px 0;\n  display: inline-block;\n  border: none;\n  background: #f1f1f1;\n}\ninput[type=text]:focus,input[type=password]:focus,input[type=tel]:focus {\n  background-color: #ddd;\n  outline: none;\n}\nhr {\n  border: 1px solid #f1f1f1;\n  margin-bottom: 25px;\n}\nbutton {\n  background-color: #4CAF50;\n  color: white;\n  padding: 14px 20px;\n  margin: 8px 0;\n  border: none;\n  cursor: pointer;\n  width: 100%;\n  opacity: 0.9;\n}\nbutton:hover {\n  opacity:1;\n}\n.cancelbtn {\n  padding: 14px 20px;\n  background-color: #f44336;\n}\n.cancelbtn, .signupbtn {\n  float: left;\n  width: 50%;\n}\n.container {\n  padding: 16px;\n}\n\n/* Clear floats */\n.clearfix::after {\n  content: \"\";\n  clear: both;\n  display: table;\n}\n@media screen and (max-width: 300px) {\n  .cancelbtn, .signupbtn {\n     width: 100%;\n  }\n}\n</style>\n<body>\n{{ errorMessage }}\n<form action=\"/signup\" method=\"post\" style=\"border:1px solid #ccc\">\n    <div class=\"container\">\n    <h1>Sign Up</h1>\n    <p>Please fill in this form to create an account.</p>\n    <hr>\n     <label for=\"name\"><b>name</b></label>\n    <input type=\"text\" placeholder=\"name\" name=\"name\" required>\n    <label for=\"email\"><b>Email</b></label>\n    <input type=\"text\" placeholder=\"email\" name=\"email\" required>\n    <label for=\"phone\">Enter your phone number:</label>\n    <input type=\"tel\" id=\"phone\" name=\"phone\" pattern=\"[0-9]{10}\"> \n    <label for=\"password\"><b>Password</b></label>\n    <input type=\"password\" placeholder=\"password\" name=\"password\" required>\n    <label>\n      <input type=\"checkbox\" checked=\"checked\" name=\"remember\" style=\"margin-bottom:15px\"> Remember me\n    </label>\n    <p>By creating an account you agree to our <a style=\"color:dodgerblue\">Terms & Privacy</a>.</p>\n    <div class=\"clearfix\">\n      <button type=\"button\" class=\"cancelbtn\">Cancel</button>\n      <button type=\"submit\" class=\"signupbtn\">Sign Up</button>\n    </div>\n  </div>\n</form>\n</body>\n</html>\n","output":"str","x":340,"y":280,"wires":[["3c88fcd3.bab03c"]]},{"id":"3c88fcd3.bab03c","type":"http response","z":"2b8faf0c.ae71a8","name":"","statusCode":"","headers":{},"x":810,"y":280,"wires":[]},{"id":"d17c256f.d9236","type":"http in","z":"2b8faf0c.ae71a8","name":"","url":"/signup","method":"post","upload":false,"swaggerDoc":"","x":90,"y":480,"wires":[["aa0f1a6f.2d7ec8","6f715f2c.fb10a"]]},{"id":"996f612.a3ab52","type":"template","z":"2b8faf0c.ae71a8","name":"INSERT","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO log VALUES ('{{{signupData.name}}}','{{{signupData.email}}}','{{{signupData.password}}}','{{{signupData.phone}}}')","output":"str","x":840,"y":480,"wires":[["6f715f2c.fb10a","132ffa7d.eff746","2fdc4ce5.819244","c4acbf7d.8f1418"]]},{"id":"6f715f2c.fb10a","type":"debug","z":"2b8faf0c.ae71a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":580,"wires":[]},{"id":"7d5839c3.508d08","type":"inject","z":"114a65e6.c37522","name":"CREATE log","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE log(name,email,password,number)","payload":"","payloadType":"date","x":360,"y":100,"wires":[["61be0e59.b807a"]]},{"id":"77307c19.c94e04","type":"inject","z":"114a65e6.c37522","name":"DROP TABLE log","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"DROP TABLE  log","payload":"","payloadType":"date","x":380,"y":460,"wires":[["61be0e59.b807a"]]},{"id":"132ffa7d.eff746","type":"template","z":"2b8faf0c.ae71a8","name":"thx","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>  \n   <head>\n        <script src=\"//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js\"></script>\n        <script src=\"//stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js\" integrity=\"sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd\" crossorigin=\"anonymous\"></script>\n        <link href=\"//stackpath.bootstrapcdn.com/bootswatch/4.5.0/darkly/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-Bo21yfmmZuXwcN/9vKrA5jPUMhr7znVBBeLxT9MA4r2BchhusfJ6+n8TLGUcRAtL\" crossorigin=\"anonymous\">\n        <link href=\"//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css\" rel=\"stylesheet\" integrity=\"sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN\" crossorigin=\"anonymous\">\n    </head>\n  <body>\n    <h1>Thanks for signing up!</h1>\n    <p>You're all set.</p>\n    <div class=\"register\">\n            <a href=\"/login\"><button id=\"register-link\">Log In here</button></a>\n        </div>\n  </body>\n</html>  ","output":"str","x":730,"y":600,"wires":[["a86bb0c1.14e568"]]},{"id":"a86bb0c1.14e568","type":"http response","z":"2b8faf0c.ae71a8","name":"","statusCode":"","headers":{},"x":850,"y":380,"wires":[]},{"id":"aa0f1a6f.2d7ec8","type":"function","z":"2b8faf0c.ae71a8","name":"","func":"// Move our signup data to a different part of the msg\nmsg.signupData = msg.payload;\n\n// Update the msg.payload to contain the email text.\nmsg.payload = msg.signupData.email;\n\n// Finally, return the entire message object which forwards \n// everything along the chain.\nreturn msg; ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":480,"wires":[["7abbd6ef.e1b188"]]},{"id":"5ef4981e.88999","type":"template","z":"2b8faf0c.ae71a8","name":"","field":"errorMessage","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"enter valid email","output":"str","x":360,"y":380,"wires":[["28fac978.0dd4f6"]]},{"id":"7e4875e5.7754c4","type":"switch","z":"2b8faf0c.ae71a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":480,"wires":[["996f612.a3ab52"],["5ef4981e.88999"]]},{"id":"7abbd6ef.e1b188","type":"npm","z":"2b8faf0c.ae71a8","name":"validate email","func":"// NPM module exposed as variable, npm_module\nreturn npm_module(msg.payload);","npm_module":"email-validator","module_style":"function","msg_payload":"return_val","function_name":"validate","x":480,"y":480,"wires":[["7e4875e5.7754c4"]]},{"id":"e3677c60.8bf9","type":"watson-conversation-v1","z":"1018f041.b42a08","name":"hire","workspaceid":"a7d2f5ec-11aa-4df2-8c9b-a3a5d17d81d1","multiuser":false,"context":false,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/1ea04d4c-71fd-4a02-82c9-6351db41edea","timeout":"","optout-learning":false,"x":430,"y":180,"wires":[["a50d942e.514248","4776ad81.27959c"]]},{"id":"2e7da653.a6dee2","type":"inject","z":"1018f041.b42a08","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hi","payloadType":"str","x":110,"y":40,"wires":[["e3677c60.8bf9"]]},{"id":"3a088c46.f34ccc","type":"http in","z":"1018f041.b42a08","name":"","url":"/both","method":"get","upload":false,"swaggerDoc":"","x":80,"y":140,"wires":[["35953103.7d122e"]]},{"id":"e29352aa.158188","type":"template","z":"1018f041.b42a08","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n<html>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n    <meta name=\"description\" content=\"\">\n    <meta name=\"author\" content=\"\">\n    <link rel=\"icon\" href=\"\">\n  <head>\n    <script src=\"//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js\"></script>\n    <script src=\"//stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js\" integrity=\"sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd\" crossorigin=\"anonymous\"></script>\n    <link href=\"//stackpath.bootstrapcdn.com/bootswatch/4.5.0/darkly/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-Bo21yfmmZuXwcN/9vKrA5jPUMhr7znVBBeLxT9MA4r2BchhusfJ6+n8TLGUcRAtL\" crossorigin=\"anonymous\">\n    <link href=\"//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css\" rel=\"stylesheet\" integrity=\"sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN\" crossorigin=\"anonymous\">\n    <link href=\"https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/darkly/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-Bo21yfmmZuXwcN/9vKrA5jPUMhr7znVBBeLxT9MA4r2BchhusfJ6+n8TLGUcRAtL\" crossorigin=\"anonymous\">\n    </head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>\n\t  HIRE BOT!\n\t</title>\n\t\n  <body>\n\n    <div class=\"container\">\n      <div id=\"no-script\"class=\"bg-info\">\n        This application needs JavaScript enabled in your browser!\n      </div>\n      <div id=\"id_contextdump\"></div>\n\n      <h1>HIRE BOT!</h1>\n      <div id=id_botchathistory>\n\t  </div>\n\t  \n\t  <div>\n\t      <form>\n            <label for=\"id_chattext\">Your Input: </label>\n            <input type=\"text\" name=\"chattext\" id=\"id_chattext\">\n            <br/>\n\t      </form>\n\t      <button class=\"btn btn-success\" onclick=\"javascript:onChatClick()\" id=\"id_enter\">Send</button>\n\t       <div>\n                <a class=\"navbar-brand\" href=\"http://127.0.0.1:8000/\">Search for candidates</a>\n           </div>\n\t  </div>\n    </div>\n    <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-2.1.4.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n\n    <script>{{{payload.script}}}</script>\n  </body>\n</html>\n","x":510,"y":140,"wires":[["c5b98f3d.58a79"]]},{"id":"c5b98f3d.58a79","type":"http response","z":"1018f041.b42a08","name":"","x":733,"y":140,"wires":[]},{"id":"cd77cf6.c6dc1b","type":"http in","z":"1018f041.b42a08","name":"","url":"/botchat","method":"post","upload":false,"swaggerDoc":"","x":99,"y":251,"wires":[["1cd7233b.4e94ed","4776ad81.27959c"]]},{"id":"a83bb421.336f2","type":"http response","z":"1018f041.b42a08","name":"","x":730,"y":246,"wires":[]},{"id":"1cd7233b.4e94ed","type":"function","z":"1018f041.b42a08","name":"Pre Service Processing","func":"// stash away incoming data\nmsg.mydata = {};\nmsg.mydata.messagein = msg.req.body.msgdata;\nmsg.payload = msg.mydata.messagein;\n\nmsg.params = { \"context\": msg.req.body.context};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":276,"y":338,"wires":[["e3677c60.8bf9"]]},{"id":"a50d942e.514248","type":"function","z":"1018f041.b42a08","name":"Post Service Processing","func":"msg.mydata.messageout = msg.payload;\n\nmsg.payload = {};\nmsg.payload.botresponse = msg.mydata;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":594,"y":342,"wires":[["a83bb421.336f2"]]},{"id":"35953103.7d122e","type":"template","z":"1018f041.b42a08","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"$(document).ready(function() {\n    javascriptCheck();\n    $('#id_contextdump').hide();\n    enterbutton();\n    invokeAjax (\"aa\");\n});\n\n// if javascript is enabled on the browser then can remove the warning message\nfunction javascriptCheck() {\n    $('#no-script').remove();\n}\n\n// creates div for interaction with bot      \nfunction createNewDiv(who, message) {\n    var txt = who + ' : ' + message;\n    return $('<div></div>').text(txt);\n}\n\n// appends latest communication with bot to botchathistory\nfunction chat(person, txt) {\n    $('#id_botchathistory').append(createNewDiv(person, txt));\n}    \n\n// sets pressing of enter key to perform same action as send button\nfunction enterbutton(){\n    $(function() {\n        $(\"form input\").keypress(function (e) {\n        if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {\n             $('#id_enter').click();\n             return false;\n        } else {\n        return true;\n        }\n     });\n    });\n}\n\n// User has entered some text.\nfunction onChatClick() {\n    var txt = $('#id_chattext').val();\n    chat('You', txt); \n    invokeAjax(txt);\n    $('#id_chattext').val('');\n}\n\nfunction processOK(response) {\n    console.log(response);\n    console.log(response.botresponse.messageout);\n    console.log(response.botresponse.messageout.output.text);\n    console.log(response.botresponse.messageout.context);\n    chat('anton', response.botresponse.messageout.output.text); \n    $('#id_contextdump').data('convContext', response.botresponse.messageout.context);\n}\n      \nfunction processNotOK() {\n    chat('Error', 'Error whilst attempting to talk to Bot');\n}\n      \nfunction invokeAjax(message) {\n    var contextdata = $('#id_contextdump').data('convContext');\n    console.log('checking stashed context data');\n    console.log(contextdata);\n        \n    var ajaxData = {};\n    ajaxData.msgdata = message;\n    if (contextdata) {\n        ajaxData.context = contextdata;    \n    }\n\n    $.ajax({\n        type: 'POST',\n        url: 'botchat',\n        data: ajaxData,\n        success: processOK,\n        error: processNotOK\n    });\n}","output":"str","x":323,"y":140,"wires":[["e29352aa.158188"]]},{"id":"9920b863.abf6","type":"comment","z":"1018f041.b42a08","name":"Conversation BOT Template","info":"","x":139,"y":99,"wires":[]},{"id":"f352813f.16eac8","type":"comment","z":"1018f041.b42a08","name":"Conversation REST API","info":"","x":118,"y":211,"wires":[]},{"id":"4776ad81.27959c","type":"debug","z":"1018f041.b42a08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":180,"wires":[]},{"id":"b7590b3a.8ebfc","type":"watson-conversation-v1","z":"1018f041.b42a08","name":"apply","workspaceid":"39889253-b30a-45cc-8791-e229a3e028d2","multiuser":false,"context":false,"empty-payload":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":430,"y":520,"wires":[["81bcb924.ba7508"]]},{"id":"3320e2c2.e85b46","type":"http in","z":"1018f041.b42a08","name":"","url":"/bota","method":"get","upload":false,"swaggerDoc":"","x":80,"y":480,"wires":[["84f16bd4.b3f14"]]},{"id":"21e9039d.730254","type":"template","z":"1018f041.b42a08","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n    <meta name=\"description\" content=\"\">\n    <meta name=\"author\" content=\"\">\n    <link rel=\"icon\" href=\"\">\n  <head>\n              <script src=\"//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js\"></script>\n        <script src=\"//stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js\" integrity=\"sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd\" crossorigin=\"anonymous\"></script>\n        <link href=\"//stackpath.bootstrapcdn.com/bootswatch/4.5.0/darkly/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-Bo21yfmmZuXwcN/9vKrA5jPUMhr7znVBBeLxT9MA4r2BchhusfJ6+n8TLGUcRAtL\" crossorigin=\"anonymous\">\n        <link href=\"//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css\" rel=\"stylesheet\" integrity=\"sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN\" crossorigin=\"anonymous\">\n      <link href=\"https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/darkly/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-Bo21yfmmZuXwcN/9vKrA5jPUMhr7znVBBeLxT9MA4r2BchhusfJ6+n8TLGUcRAtL\" crossorigin=\"anonymous\">\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>\n\t  APPLY BOT!\n\t</title>\n  </head>\n  <body>\n\n    <div class=\"container\">\n      <div id=\"no-script\"class=\"bg-info\">\n        This application needs JavaScript enabled in your browser!\n      </div>\n      <div id=\"id_contextdump\"></div>\n\n      <h1>APPLY BOT!</h1>\n      <div id=id_botchathistory>\n\t  </div>\n\t  \n\t  <div>\n\t      <form>\n            <label for=\"id_chattext\">Your Input: </label>\n            <input type=\"text\" name=\"chattext\" id=\"id_chattext\">\n            <br/>\n\t      </form>\n\t      <button class=\"btn btn-success\" onclick=\"javascript:onChatClick()\" id=\"id_enter\">Send</button>\n\t  </div>\n    </div>\n    \n    <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-2.1.4.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n\n    <script>{{{payload.script}}}</script>\n  </body>\n</html>\n","x":519,"y":480,"wires":[["52305f55.345aa8"]]},{"id":"52305f55.345aa8","type":"http response","z":"1018f041.b42a08","name":"","x":733,"y":480,"wires":[]},{"id":"80c617e4.95cb58","type":"http in","z":"1018f041.b42a08","name":"","url":"/botchata","method":"post","upload":false,"swaggerDoc":"","x":109,"y":591,"wires":[["7816bef.b8f034","19692185.927dde"]]},{"id":"815eb1e8.ed1cb","type":"http response","z":"1018f041.b42a08","name":"","x":730,"y":586,"wires":[]},{"id":"7816bef.b8f034","type":"function","z":"1018f041.b42a08","name":"Pre Service Processing","func":"// stash away incoming data\nmsg.mydata = {};\nmsg.mydata.messagein = msg.req.body.msgdata;\nmsg.payload = msg.mydata.messagein;\n\nmsg.params = { \"context\": msg.req.body.context};\n\nreturn msg;","outputs":1,"noerr":0,"x":276,"y":678,"wires":[["b7590b3a.8ebfc"]]},{"id":"81bcb924.ba7508","type":"function","z":"1018f041.b42a08","name":"Post Service Processing","func":"msg.mydata.messageout = msg.payload;\n\nmsg.payload = {};\nmsg.payload.botresponse = msg.mydata;\n\nreturn msg;","outputs":1,"noerr":0,"x":594,"y":682,"wires":[["815eb1e8.ed1cb"]]},{"id":"84f16bd4.b3f14","type":"template","z":"1018f041.b42a08","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"$(document).ready(function() {\n    javascriptCheck();\n    $('#id_contextdump').hide();\n    enterbutton();\n    invokeAjax(\"aa\");\n});\n\n// if javascript is enabled on the browser then can remove the warning message\nfunction javascriptCheck() {\n    $('#no-script').remove();\n}\n\n// creates div for interaction with bot      \nfunction createNewDiv(who, message) {\n    var txt = who + ' : ' + message;\n    return $('<div></div>').text(txt);\n}\n\n// appends latest communication with bot to botchathistory\nfunction chat(person, txt) {\n    $('#id_botchathistory').append(createNewDiv(person, txt));\n}    \n\n// sets pressing of enter key to perform same action as send button\nfunction enterbutton(){\n    $(function() {\n        $(\"form input\").keypress(function (e) {\n        if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {\n             $('#id_enter').click();\n             return false;\n        } else {\n        return true;\n        }\n     });\n    });\n}\n\n// User has entered some text.\nfunction onChatClick() {\n    var txt = $('#id_chattext').val();\n    chat('You', txt); \n    invokeAjax(txt);\n    $('#id_chattext').val('');\n}\n\nfunction processOK(response) {\n    console.log(response);\n    console.log(response.botresponse.messageout);\n    console.log(response.botresponse.messageout.output.text);\n    console.log(response.botresponse.messageout.context);\n    chat('ANTON', response.botresponse.messageout.output.text); \n    $('#id_contextdump').data('convContext', response.botresponse.messageout.context);\n}\n      \nfunction processNotOK() {\n    chat('Error', 'Error whilst attempting to talk to Bot');\n}\n      \nfunction invokeAjax(message) {\n    var contextdata = $('#id_contextdump').data('convContext');\n    console.log('checking stashed context data');\n    console.log(contextdata);\n        \n    var ajaxData = {};\n    ajaxData.msgdata = message;\n    if (contextdata) {\n        ajaxData.context = contextdata;    \n    }\n\n    $.ajax({\n        type: 'POST',\n        url: 'botchata',\n        data: ajaxData,\n        success: processOK,\n        error: processNotOK\n    });\n}","output":"str","x":323,"y":480,"wires":[["21e9039d.730254"]]},{"id":"74973d11.f5f1a4","type":"comment","z":"1018f041.b42a08","name":"Conversation BOT Template","info":"","x":139,"y":439,"wires":[]},{"id":"2641ba65.600e46","type":"comment","z":"1018f041.b42a08","name":"Conversation REST API","info":"","x":118,"y":551,"wires":[]},{"id":"19692185.927dde","type":"debug","z":"1018f041.b42a08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":520,"wires":[]},{"id":"7ba1b85.e6983c8","type":"inject","z":"1018f041.b42a08","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hi","payloadType":"str","x":110,"y":380,"wires":[["b7590b3a.8ebfc"]]},{"id":"2a5f76cb.62010a","type":"debug","z":"114a65e6.c37522","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":760,"y":220,"wires":[]},{"id":"dd38f8fb.d01128","type":"comment","z":"2b8faf0c.ae71a8","name":"signup page","info":"","x":90,"y":200,"wires":[]},{"id":"8a92bf3f.e02158","type":"comment","z":"2b8faf0c.ae71a8","name":"email checker","info":"","x":550,"y":380,"wires":[]},{"id":"2fdc4ce5.819244","type":"sqlite","z":"2b8faf0c.ae71a8","mydb":"3669adfa.9c36d2","sqlquery":"msg.topic","sql":"","name":"db","x":960,"y":420,"wires":[["c4acbf7d.8f1418"]]},{"id":"c4acbf7d.8f1418","type":"debug","z":"2b8faf0c.ae71a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":940,"y":620,"wires":[]},{"id":"16a1fea5.ec50d1","type":"debug","z":"703366ff.0dba3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":800,"y":380,"wires":[]},{"id":"1464e4f7.6347b3","type":"debug","z":"703366ff.0dba3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":700,"y":160,"wires":[]},{"id":"3052c095.1cbe","type":"template","z":"2b8faf0c.ae71a8","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!doctype html>\n<html lang=\"en\">\n  <head>\n    <script src=\"//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js\"></script>\n    <script src=\"//stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js\" integrity=\"sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd\" crossorigin=\"anonymous\"></script>\n    <link href=\"//stackpath.bootstrapcdn.com/bootswatch/4.5.0/darkly/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-Bo21yfmmZuXwcN/9vKrA5jPUMhr7znVBBeLxT9MA4r2BchhusfJ6+n8TLGUcRAtL\" crossorigin=\"anonymous\">\n    <link href=\"//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css\" rel=\"stylesheet\" integrity=\"sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN\" crossorigin=\"anonymous\">\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n    <meta name=\"description\" content=\"\">\n    <meta name=\"author\" content=\"\">\n    <link rel=\"icon\" href=\"\">\n\n    <title>ANTON AI</title>\n\n    <!-- Bootstrap core CSS -->\n    <link href=\"https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css\" rel=\"stylesheet\">\n\n    <!-- Custom styles for this template -->\n    <link href=\"https://getbootstrap.com/docs/4.1/examples/sign-in/signin.css\" rel=\"stylesheet\">\n  <script type=\"text/javascript\"></script><link rel=\"stylesheet\" type=\"text/css\" href=\"https://getbootstrap.com/B1D671CF-E532-4481-99AA-19F420D90332/netdefender/hui/ndhui.css\" /></head>\n  <body class=\"text-center\"><script type=\"text/javascript\" language=\"javascript\" src=\"https://getbootstrap.com/B1D671CF-E532-4481-99AA-19F420D90332/netdefender/hui/ndhui.js?0=0&0=0&0=0\"></script>\n    <form class=\"form-signin\">\n      <img class=\"mb-4\" src=\"https://cdn.pixabay.com/photo/2016/02/22/00/25/robot-1214536_960_720.png\" alt=\"\" width=\"125\" height=\"125\">\n      <h1 class=\"h3 mb-3 font-weight-normal\"><b>ANTON THE AI</b></h1>\n      <label></label>\n      <label></label>\n      <div>\n        <label></label>\n      </div>\n      <a href=\"https://node-red-cmqho.mybluemix.net/signup\" class=\"btn btn-lg btn-primary btn-block\">sign-up</a>\n      <a href=\"https://node-red-cmqho.mybluemix.net/login\" class=\"btn btn-lg btn-primary btn-block\">login</a>\n      <p class=\"mt-5 mb-3 text-muted\">&copy; <script>document.write(new Date().getFullYear());</script> ANTON AI</p>\n    </form>\n  </body>\n</html>","output":"str","x":440,"y":120,"wires":[["483facbf.7fb7ec"]]},{"id":"3e6cc2bf.1e329e","type":"http in","z":"2b8faf0c.ae71a8","name":"","url":"/a","method":"get","upload":false,"swaggerDoc":"","x":70,"y":120,"wires":[["3052c095.1cbe"]]},{"id":"483facbf.7fb7ec","type":"http response","z":"2b8faf0c.ae71a8","name":"","statusCode":"","headers":{},"x":810,"y":120,"wires":[]},{"id":"aaeb63a7.37f748","type":"comment","z":"2b8faf0c.ae71a8","name":"home page","info":"","x":90,"y":60,"wires":[]},{"id":"bf18fd39.c13a88","type":"http in","z":"2b8faf0c.ae71a8","name":"","url":"/form","method":"get","upload":false,"swaggerDoc":"","x":80,"y":1040,"wires":[["1b44307.50f4ed"]]},{"id":"419290b8.9b84b","type":"http response","z":"2b8faf0c.ae71a8","name":"","statusCode":"","headers":{},"x":830,"y":1060,"wires":[]},{"id":"617813be.fb2584","type":"http in","z":"2b8faf0c.ae71a8","name":"","url":"/form","method":"post","upload":true,"swaggerDoc":"","x":90,"y":1160,"wires":[["51cd93c8.92666c","5fc97679.7fbaa8"]]},{"id":"85cc666e.9f015","type":"http response","z":"2b8faf0c.ae71a8","name":"","statusCode":"","headers":{},"x":840,"y":1180,"wires":[]},{"id":"411f35ba.38b134","type":"http in","z":"2b8faf0c.ae71a8","name":"","url":"/login","method":"get","upload":false,"swaggerDoc":"","x":80,"y":780,"wires":[["8e49ece.213209"]]},{"id":"8e49ece.213209","type":"template","z":"2b8faf0c.ae71a8","name":"login-page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!doctype html>\n<html lang=\"en\">\n  <head>\n    <script src=\"//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js\"></script>\n    <script src=\"//stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js\" integrity=\"sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd\" crossorigin=\"anonymous\"></script>\n    <link href=\"//stackpath.bootstrapcdn.com/bootswatch/4.5.0/darkly/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-Bo21yfmmZuXwcN/9vKrA5jPUMhr7znVBBeLxT9MA4r2BchhusfJ6+n8TLGUcRAtL\" crossorigin=\"anonymous\">\n    <link href=\"//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css\" rel=\"stylesheet\" integrity=\"sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN\" crossorigin=\"anonymous\">\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n    <meta name=\"description\" content=\"\">\n    <meta name=\"author\" content=\"\">\n    <link rel=\"icon\" href=\"\">\n\n    <title>ANTON AI</title>\n\n    <!-- Bootstrap core CSS -->\n    <link href=\"https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css\" rel=\"stylesheet\">\n\n    <!-- Custom styles for this template -->\n    <link href=\"https://getbootstrap.com/docs/4.1/examples/sign-in/signin.css\" rel=\"stylesheet\">\n  <script type=\"text/javascript\"></script><link rel=\"stylesheet\" type=\"text/css\" href=\"https://getbootstrap.com/B1D671CF-E532-4481-99AA-19F420D90332/netdefender/hui/ndhui.css\" /></head>\n  {{ errorMessage }}\n  <body class=\"text-center\"><script type=\"text/javascript\" language=\"javascript\" src=\"https://getbootstrap.com/B1D671CF-E532-4481-99AA-19F420D90332/netdefender/hui/ndhui.js?0=0&0=0&0=0\"></script>\n    <form class=\"form-signin\" method=\"post\">\n      <img class=\"mb-4\" src=\"https://cdn.pixabay.com/photo/2016/02/22/00/25/robot-1214536_960_720.png\" alt=\"\" width=\"125\" height=\"125\">\n      <h1 class=\"h3 mb-3 font-weight-normal\"><b>Welcome TO ANTON THE AI</b></h1>\n      <label for=\"inputEmail\" class=\"sr-only\">Username</label>\n      <input type=\"text\" id=\"inputEmail\" class=\"form-control\" name=\"username\" placeholder=\"Username\" required autofocus>\n      <label for=\"inputPassword\" class=\"sr-only\">Password</label>\n      <input type=\"password\" id=\"inputPassword\" class=\"form-control\" name=\"password\" placeholder=\"Password\" required>\n      <div class=\"checkbox mb-3\">\n        <label>\n          <input type=\"checkbox\" value=\"remember-me\"> Remember me\n        </label>\n      </div>\n      <button class=\"btn btn-lg btn-primary btn-block\" type=\"submit\">Login</button>\n      <p class=\"mt-5 mb-3 text-muted\">&copy; <script>document.write(new Date().getFullYear());</script> ANTON AI</p>\n    </form>\n  </body>\n</html>","output":"str","x":310,"y":780,"wires":[["5b3928dc.f25848","ac84bc30.b9c5a"]]},{"id":"1dd42b18.72e205","type":"function","z":"2b8faf0c.ae71a8","name":"select-query","func":"//Read username and password\n//var username = {payload: (msg.payload.username)};\n//var password = {payload: (msg.payload.password)};\n\n//SELECT Query\nmsg.topic=\"SELECT COUNT(*) AS count FROM log WHERE name='\" + msg.payload.username + \"' AND password='\" + msg.payload.password + \"'\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":840,"wires":[["7f825d3e.941b4c"]]},{"id":"eb7cea7c.b08e1","type":"function","z":"2b8faf0c.ae71a8","name":"check","func":"var count = msg.payload[0].count;\n\nif (count > 0)\n{\n    msg.payload = \"Login successful\";\n}\nelse\n{\n    msg.payload = \"Login failed\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":840,"wires":[["ac84bc30.b9c5a","7c7a3e24.b98458"]]},{"id":"5b3928dc.f25848","type":"http response","z":"2b8faf0c.ae71a8","name":"","statusCode":"","headers":{},"x":1050,"y":780,"wires":[]},{"id":"ac84bc30.b9c5a","type":"debug","z":"2b8faf0c.ae71a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":840,"wires":[]},{"id":"fc962c97.d361c8","type":"http in","z":"2b8faf0c.ae71a8","name":"","url":"/login","method":"post","upload":false,"swaggerDoc":"","x":90,"y":840,"wires":[["1dd42b18.72e205"]]},{"id":"3950d71c.e263a8","type":"template","z":"2b8faf0c.ae71a8","name":"result-page","field":"errorMessage","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"username or password is wrong\n","output":"str","x":810,"y":960,"wires":[["8e49ece.213209"]]},{"id":"7f825d3e.941b4c","type":"sqlite","z":"2b8faf0c.ae71a8","mydb":"3669adfa.9c36d2","sqlquery":"msg.topic","sql":"","name":"db","x":470,"y":840,"wires":[["eb7cea7c.b08e1"]]},{"id":"bc76c961.2d09e","type":"comment","z":"2b8faf0c.ae71a8","name":"login page","info":"","x":80,"y":680,"wires":[]},{"id":"2af58b7d.f588f4","type":"comment","z":"2b8faf0c.ae71a8","name":"info collect","info":"info ","x":90,"y":980,"wires":[]},{"id":"7c7a3e24.b98458","type":"switch","z":"2b8faf0c.ae71a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Login successful","vt":"str"},{"t":"eq","v":"Login failed","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":920,"wires":[["928e20e9.8475e"],["3950d71c.e263a8"]]},{"id":"928e20e9.8475e","type":"template","z":"2b8faf0c.ae71a8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n   <head>\n      <title>ANTON AI</title>\n      <meta http-equiv = \"refresh\" content = \"2; url =//node-red-cmqho.mybluemix.net/db\" />\n   </head>\n   <body>\n      <p>WELCOME!</p>\n   </body>\n</html>","output":"str","x":1000,"y":940,"wires":[["5b3928dc.f25848"]]},{"id":"2c307db9.70a592","type":"http in","z":"114a65e6.c37522","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":80,"y":640,"wires":[["bea8a838.c5eb28"]]},{"id":"e9f2bf3.e15f14","type":"http response","z":"114a65e6.c37522","name":"","statusCode":"","headers":{},"x":790,"y":640,"wires":[]},{"id":"bea8a838.c5eb28","type":"sqlite","z":"114a65e6.c37522","mydb":"3669adfa.9c36d2","sqlquery":"fixed","sql":"SELECT * FROM files","name":"dd","x":400,"y":640,"wires":[["e9f2bf3.e15f14"]]},{"id":"dad9942.ec9cce8","type":"comment","z":"114a65e6.c37522","name":"dataset ","info":"","x":70,"y":580,"wires":[]},{"id":"1b44307.50f4ed","type":"template","z":"2b8faf0c.ae71a8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n     <head>\n<link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/flatly/bootstrap.min.css\" integrity=\"sha384-mhpbKVUOPCSocLzx2ElRISIORFRwr1ZbO9bAlowgM5kO7hnpRBe+brVj8NNPUiFs\" crossorigin=\"anonymous\">    \n<meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n    <meta name=\"description\" content=\"\">\n    <meta name=\"author\" content=\"\">\n    <link rel=\"icon\" href=\"\">\n</head>\n     <style>\nbody {font-family: Arial, Helvetica, sans-serif;}\n* {box-sizing: border-box}\ninput[type=text],input[type=password]:focus {\n  width: 100%;\n  padding: 15px;\n  margin: 5px 0 22px 0;\n  display: inline-block;\n  border: none;\n  background: #f1f1f1;\n}\ninput[type=text]:focus,input[type=password]:focus {\n  background-color: #ddd;\n  outline: none;\n}\nhr {\n  border: 1px solid #f1f1f1;\n  margin-bottom: 25px;\n}\nbutton {\n  background-color: #4CAF50;\n  color: white;\n  padding: 14px 20px;\n  margin: 8px 0;\n  border: none;\n  cursor: pointer;\n  width: 100%;\n  opacity: 0.9;\n}\ninput[type=text]:focus,input[type=password]:focus,input[type=tel]:focus {\n  background-color: #ddd;\n  outline: none;\n}\n.plugin-intlfun .intlfun-card__header {\n    display: flex;\n    align-items: center;\n}\nbutton:hover {\n  opacity:1;\n}\n.cancelbtn {\n  padding: 14px 20px;\n  background-color: #f44336;\n}\n.cancelbtn, .signupbtn {\n  float: left;\n  width: 50%;\n}\n.container {\n  padding: 16px;\n}\n\n/* Clear floats */\n.clearfix::after {\n  content: \"\";\n  clear: both;\n  display: table;\n}\n@media screen and (max-width: 300px) {\n  .cancelbtn, .signupbtn {\n     width: 100%;\n  }\n}\n</style>\n<body>\n    <form action=\"/form\" method=\"post\" style=\"border:1px solid #ccc\">\n  <div class=\"container\">\n     <h5><b>Post a job.</b></h5>\n     <div class=\"intlfun-card\"><div class=\"intlfun-card__inner\"><div class=\"intlfun-card__header  \"><div class=\"intlfun-card__header--person-info\"></div><h2>Anton for employers</h2></div>\n    <hr>\n     <label for=\"jobname\"><b>Company name for this job</b></label>\n    <input type=\"text\" placeholder=\"jobname\" name=\"jobname\" required>\n    <label for=\"jobtitle\"><b>Job title</b></label>\n    <input type=\"text\" placeholder=\"jobtitle\" name=\"jobtitle\" required>\n     <div>\n      <div class=\"city-wrap\">\n        <label for=\"city\"><b>city</b></label>\n        <input type=\"text\" placeholder=\"city\" name=\"city\" required>\n      </div>\n      <div class=\"zip\">\n          <div><label for=\"zip\"><b>zip:  </b></label></div>\n         <input type=\"zip\" placeholder=\"zip\" name=\"zip\" pattern=\"[0-9]*\" required>\n      </div>\n    </div>\n    <hr>\n    <div class=\"intlfun-card\"><div class=\"intlfun-card__inner\"><div class=\"intlfun-card__header  \"><div class=\"intlfun-card__header--person-info\"></div><h2>Account info</h2></div>\n     <label for=\"yourname\"><b>Your name</b></label>\n    <input type=\"text\" placeholder=\"yourname\" name=\"yourname\" required>\n    <label for=\"companyname\"><b>Your company name</b></label>\n    <input type=\"text\" placeholder=\"companyname\" name=\"companyname\" required>\n     <div>\n      <div class=\"num\">\n        <div><label for=\"phone\"><b>Phone number</b></label></div>\n        <input type=\"tel\" placeholder=\"phone\" name=\"phone\" required>\n      </div>\n    </div>\n    <hr>\n    <div>\n    <div class=\"intlfun-card\"><div class=\"intlfun-card__inner\"><div class=\"intlfun-card__header  \"><div class=\"intlfun-card__header--person-info\"></div><h2>Company info</h2></div>\n    </div>\n    <div>\n        <h><b>How many employees?</b></h>\n    <div class=\"icl-Select-wrapper\"><select aria-labelledby=\"label-AdvertiserCompanySize\" aria-invalid=\"false\" class=\"icl-Select-control\" id=\"AdvertiserCompanySize\" name=\"AdvertiserCompanyName\"><option value=\"\">How many employees?</option><option value=\"1-49\">1 - 49</option><option value=\"50-149\">50 - 149</option><option value=\"150-249\">150 - 249</option><option value=\"250-499\">250 - 499</option><option value=\"500-749\">500 - 749</option><option value=\"750-999\">750 - 999</option><option value=\"1000+\">1000 +</option></select></div>\n    </div>\n    <div>\n    <div class=\"icl-Select\"><div class=\"icl-Select-labelWrapper\"><label id=\"label-AdvertiserCampaignSource\" class=\"icl-Select-label\" for=\"AdvertiserCampaignSource\"><b>How did u come to know about us?</b></label><div class=\"icl-Select-wrapper\"><select aria-labelledby=\"label-AdvertiserCampaignSource\" aria-invalid=\"false\" class=\"icl-Select-control\" id=\"AdvertiserCampaignSource\" name=\"advertisercampaignsource\"><option value=\"\">Select option</option><option value=\"radio\">Radio (AM/FM/XM)</option><option value=\"tv\">TV</option><option value=\"mail\">In the Mail</option><option value=\"billboard\">Billboard</option><option value=\"magazine\">Online Video</option><option value=\"newspaper\">Newspaper</option><option value=\"streamingAudio\">Streaming Audio (Spotify, Pandora, etc.)</option><option value=\"searchEngine\">Search Engine (ex. Google, Bing, Yahoo)</option><option value=\"podcast\">Podcast</option><option value=\"socialMedia\">Social Media</option><option value=\"wordOfMouth\">Word of Mouth</option><option value=\"other\">Other</option></select></div></div>\n    </div>\n    <hr>\n    <div>\n        <div class=\"clearfix\">\n            <div>\n                <button type=\"submit\" class=\"signupbtn\"><b>SUBMIT</b></button>\n            </div>\n    </div>\n    </div>\n  </div>\n  </dvi>\n</form>\n</body>\n</html>\n","output":"str","x":460,"y":1020,"wires":[["419290b8.9b84b","51cd93c8.92666c"]]},{"id":"51cd93c8.92666c","type":"debug","z":"2b8faf0c.ae71a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":1120,"wires":[]},{"id":"ca358c30.af41f8","type":"sqlite","z":"2b8faf0c.ae71a8","mydb":"3669adfa.9c36d2","sqlquery":"msg.topic","sql":"","name":"storage","x":680,"y":1240,"wires":[["51cd93c8.92666c"]]},{"id":"5fc97679.7fbaa8","type":"template","z":"2b8faf0c.ae71a8","name":"","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO for VALUES ('{{{payload.jobname}}}','{{{payload.jobtitle}}}','{{{payload.city}}}','{{{payload.zip}}}','{{{payload.yourname}}}','{{{payload.companyname}}}','{{{payload.phone}}}','{{{payload.AdvertiserCompanyName}}}','{{{payload.advertisercampaignsource}}}')","output":"str","x":320,"y":1180,"wires":[["69e9ca4b.ac56fc"]]},{"id":"7b8f5607.a8d56","type":"inject","z":"114a65e6.c37522","name":"CREATE for","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE for(jobname,jobtitle,city,zip,yourname,companyname,phone,AdvertiserCompanyName,advertisercampaignsource)","payload":"","payloadType":"date","x":570,"y":100,"wires":[["61be0e59.b807a"]]},{"id":"e612a98c.2113e","type":"inject","z":"114a65e6.c37522","name":"DROP TABLE for","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"DROP TABLE  for","payload":"","payloadType":"date","x":640,"y":460,"wires":[["61be0e59.b807a"]]},{"id":"69e9ca4b.ac56fc","type":"template","z":"2b8faf0c.ae71a8","name":"thx","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n   <head>\n      <title>ANTON AI</title>\n      <meta http-equiv = \"refresh\" content = \"2; url =//node-red-cmqho.mybluemix.net/both\" />\n   </head>\n   <body>\n      <p>WE WILL BE HAPPY TO WELCOME YOU!</p>\n   </body>\n</html>","output":"str","x":490,"y":1180,"wires":[["ca358c30.af41f8","85cc666e.9f015"]]},{"id":"916827f5.1c76e8","type":"inject","z":"114a65e6.c37522","name":"file","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"CREATE TABLE files(filename TEXT PRIMARY KEY, content BLOB);","payload":"","payloadType":"date","x":230,"y":40,"wires":[["61be0e59.b807a"]]},{"id":"b3b1f511.6b3c68","type":"comment","z":"5ea3ff51.396da","name":"activate the timestamp everythime u want to display the news ","info":"","x":220,"y":360,"wires":[]}]